.about {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: none;
  z-index: 10;

  &--is-active {
    display: block;

    .about__content .about__emoji {
      animation: fade-in 1.5s ease-out forwards;
    }
  }

  .about__cross {
    position: absolute;
    top: 4.9rem;
    right: 4rem;
    z-index: 11;
    font-size: 2.6rem;
    cursor: pointer;
    padding: 0.5rem;
    transition: color 0.3s ease-out;
    .desktop-device  &:hover {
      color: $color-red;
    }
  }

  .about__overlay {
    @include fullAbsolute;
    opacity: 0;
    cursor: pointer;
  }

  .about__content {
    position: fixed;
    top: 0;
    right: 0;
    width: 400px;
    height: 100%;
    background: $color-grey-light;
    transform: translateX(100%);
    padding : $size-border-padding-y $size-border-padding-x 2rem;
    @include custom-scrollbar;
    overflow: auto;
  }

  .about__title {
    font-size: 3rem;
    margin-bottom: 3rem;
    font-weight: bold;
    &--awards {
      font-size: 2rem;
      margin: 3rem 0 1.5rem;
    }
  }


  .about__paragraph {
    font-size: 1.6rem;
    line-height: 2.2rem;
    margin-top: 2rem;
    &--credit {
      position: absolute;
      bottom: 2rem;
      right: 1rem;
      font-size: 1.2rem;

      .link {
        font-size: 1.2rem;
      }
    }
  }

  .about__award-list {

  }

  .about__award-el {
    margin-top: 1rem;
    font-size: 1.2rem;

    a {
      color: $color-black;
      transition: color 0.3s ease-out;
      &:hover {
        color: $color-red;
      }
    }
  }

  .about__emoji {
    display: block;
    width: 40px;
    margin-top: 3rem;
    opacity: 0;
  }
}

@media only screen and (max-height: 760px){
  .about {
    .about__paragraph--credit {
      position: static;
      text-align: right;
      transform: translateX(25px);
    }
  }
}

@media only screen and (max-width: 736px){
  .about {
    .about__content {
      width: 100%;
      padding: 2rem;
    }
    .about__cross {
      position: absolute;
      top: 1.5rem;
      right: 1rem;
      font-size: 3rem;
    }
    .about__title {
      margin-bottom: 0rem;
    }
    .about__paragraph {
      font-size: 1.5rem;
      line-height: 2.2rem;
    }
    .about__paragraph--credit {
      display: none;
      transform: none;
    }
  }
}
@media only screen and (max-width: 400px){
  .about {

    .about__emoji {
      width: 30px;
      margin-top: 1rem;
    }
  }
}
