.header__logo {
  position: absolute;
  top: $size-border-padding-y;
  left: $size-border-padding-x;
  font-size: 1.4rem;
  font-weight: 500;
  background: $color-black;
  color: $color-white;
  padding: 0.8rem 1rem;
  transition: color 0.3s ease-out;
  &:hover {
    color: $color-red;
  }
}

.header__logo-subtitle {
  display: inline-block;
  text-align: center;
  font-size: 1.27rem;
  top: 8.5rem;
  position: absolute;
  left: $size-border-padding-x;
}

.header__about {
  position: absolute;
  top: $size-border-padding-y + 0.3rem;
  right: $size-border-padding-x;
  font-size: 1.4rem;
  font-weight: 500;
  transition: color 0.3s ease-out;
  &:hover {
    color: $color-red;
  }
}