.project-infos {
  position: absolute;
  width: 315px;
  height: 115px;
  right: -8rem;
  bottom: -4rem;
  color: $color-white;
  background: $color-red;
  padding: 2rem;

  .project-infos__title {
    display: none;
  }

  .project-infos__el {
    display: none;
    &--is-active {
      display: block;
    }
  }

  .project-infos__transition-block {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: black;
    transform: scaleX(0);
    transform-origin: left;
    z-index: 10;
  }
  .project-infos__description {
    font-size: 1.6rem;
    line-height: 2.4rem;
  }
}

@media only screen and (max-width: 736px) and (orientation: portrait) {
  .project-infos {
    position: relative;
    right: 0;
    bottom: auto;
    width: 100%;
    height: 115px;
    margin-top: -4rem;

    .project-infos__description {
      font-size: 1.5rem;
      line-height: 2rem;
    }

  }
}

@media only screen and (max-width: 350px) {
  .project-infos {
    margin-top: -6rem;

  }
}