.project-tags {
  position: absolute;
  top: -2.5rem;
  right: 0;

  .project-tags__list {

  }
  .projects-tags__project-el {
    display: none;
    &--is-active {
      display: block;
    }
  }
  .projects-tags__tag-list {

  }

  .project-tags__tag-el {
    display: inline-block;
    font-size: 1.2rem;
    color: $color-grey-medium;
    margin-right: 2.5rem;
    &:last-child {
      margin-right: 0;
    }
    &:before {
      content: '#';
    }
  }

}


@media only screen and (max-width: 1000px){

  .project-tags {
    top: -2.2rem;
    // left: 0;
    // right: auto;
  }
}

@media only screen and (max-width: 736px){

  .project-tags {
    display: none;
  }
}