.project-letter {
  position: absolute;
  display: block;
  font-size: 20vh;
  line-height: 0;
  z-index: 1;

  &:after {
    display: block;
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    background: $color-red;
  }
}