.project-letters {

}

/*
 * ===== Codevember =====
 */
.project-letters--codevember {
  .project-letter {
    &:nth-child(1) {
      top: 0%;
      left: -7%;
    }
    &:nth-child(2) {
      top: 17%;
      left: 19%;
    }
    &:nth-child(3) {
      top: 30%;
      left: 50%;
    }
    &:nth-child(4) {
      top: 55%;
      left: 23%;
    }
    &:nth-child(5) {
      top: 75%;
      left: 60%;
    }
    &:nth-child(6) {
      top: 95%;
      left: 90%;
    }
  }
}

/*
 * ===== Robin Mastromarino =====
 */
.project-letters--robin-mastromarino {
  .project-letter {
    &:nth-child(1) {
      top: 0%;
      left: 33%;
    }
    &:nth-child(2) {
      top: 15%;
      left: 14%;
    }
    &:nth-child(3) {
      top: 33%;
      left: 33%;
    }
    &:nth-child(4) {
      top: 45%;
      left: 14%;
    }
    &:nth-child(5) {
      top: 55%;
      left: 40%;
    }
    &:nth-child(6) {
      top: 74%;
      left: 15%;
    }
  }
}

/*
 * ===== Dragand =====
 */
.project-letters--dragand {
  .project-letter {
     &:nth-child(1) {
       top: 0%;
       left: 0%;
     }
  }
}

/*
 * ===== Agence TDN =====
 */
 .project-letters--agence-tdn {
   .project-letter {
      &:nth-child(1) {
        top: 0%;
        left: 0%;
      }
   }
 }

/*
 * ===== Lux Operon =====
 */
 .project-letters--lux-operon {
   .project-letter {
      &:nth-child(1) {
        top: 0%;
        left: 0%;
      }
   }
 }