.project-container {
  position: absolute;
  width: 85%;
  max-width: 600px;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0);

  .project-container__content {
    position: relative;
    width: 100%;
    height: 100%;
  }


  @media only screen and (max-width: 1440px) {

    width: 450px;

  }

  @media only screen and (max-width: 980px) and (orientation: landscape){

    width: 40%;
  }


  @media only screen and (max-width: 736px) and (orientation: portrait) {
    width: 100%;
    padding: 6rem 4rem 4rem 4rem;
  }

  @media only screen and (max-width: 736px) and (orientation: landscape) {
    width: 40%;
  }
}

