.project-navigation {
  .project-navigation__el {
    position: fixed;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    height: 1.8rem;
    padding: 2rem 0;
    z-index: 3;
    &--previous  {
      left: 0;
      .project-navigation__el-text {
        left: 100%;
      }

      .project-navigation__el-icon {
        left: 3rem;
      }

      .desktop-device &:hover {
        .project-navigation__el-line {
          transform: translateX(-10px);
        }
      }

      &.project-navigation__el--feedback {
        .project-navigation__el-line {
          transform: translateX(-20px) !important;
        }
      }
    }

    &--next  {
      right: 0;
      .project-navigation__el-text {
        right: 100%;
      }

      .project-navigation__el-icon {
        right: 3rem;
      }

      .desktop-device &:hover {
        .project-navigation__el-line {
          transform: translateX(10px);
        }
      }

      &.project-navigation__el--feedback {
        .project-navigation__el-line {
          transform: translateX(20px) !important;
        }
      }
    }

    .desktop-device &:hover,
    &.project-navigation__el--feedback {
      .project-navigation__el-line {
        background: $color-red;
      }
      .project-navigation__el-text,
      .project-navigation__el-icon {
        color: $color-red;
      }
    }
  }

  .project-navigation__el-line {
    display: block;
    position: relative;
    top: 50%;
    width: 9vw;
    height: 1px;
    background: $color-black;
    transition: background 0.2s ease-out, transform 0.2s ease-out;
  }

  .project-navigation__el-text {
    display: block;
    position: absolute;
    font-size: 1.4rem;
    top: 1.2rem;
    padding: 0 1rem;
    transition: color 0.2s ease-out;
  }

  .project-navigation__el-icon {
    display: none;
    position: fixed;
    top: 0;
    font-size: 2.5rem;
    padding: 1rem;
    transition: color 0.3s ease-out;
    .desktop-device &:hover {
      color: $color-red;
    }
  }
}


@media only screen and (max-width: 736px){

  .project-navigation {
    .project-navigation__el-line,
    .project-navigation__el-text {
      display: none;
    }

    .project-navigation__el-icon {
      display: block;
    }
  }
}

@media only screen and (max-width: 736px) and (orientation: portrait) {
  .project-navigation {
    .project-navigation__el {
      width: 10%;
      &--previous .project-navigation__el-icon {
        left: 0;
      }
      &--next .project-navigation__el-icon {
        right: 0;
      }
    }
  }
}

