.project-infos {
  position: absolute;
  width: 315px;
  height: 115px;
  right: -8rem;
  bottom: -4rem;
  color: $color-white;
  background: $color-red;
  padding: 2rem;

  .project-infos__title {
    display: none;
  }

  .project-infos__el {
    display: none;
    &--is-active {
      display: block;
    }
  }
  .project-infos__description {
    font-size: 1.6rem;
    line-height: 2.4rem;
  }
}