.project-title {
  position: absolute;
  top: 16.05%;
  right: 100%;
  margin-right: 3.5rem;
  .project-title__el {
    font-size: 4rem;
    text-align: right;
    display: none;
    color: $color-red;
    font-weight: bold;
    &:first-child {
      display: block;
    }
  }
}

@media only screen and (max-width: 1280px) {
  .project-title {
    top: 18.25%;
    .project-title__el {
      font-size: 3rem;
    }
  }
}

@media only screen and (max-width: 1000px) {
  .project-title {
    top: -3.9rem;
    left: 0;
  }
}

