.social-networks {
  position: absolute;
  left: $size-border-padding-x;
  bottom: $size-border-padding-y;

  .social-networks__el {
    display: inline-block;
    font-size: 1.6rem;
    vertical-align: bottom;
    margin-right: 4rem;

    a {
      color: $color-black;
      transition: color 0.3s ease-out;
      &:hover {
        color: $color-red;
      }
    }


    &:last-child {
        margin-right: 0;
    }

    &--twitter {

    }
    &--github {
      padding-top: 0.1rem;
    }
    &--linkedin {

    }
  }
}

@media only screen and (max-width: 736px){

  .social-networks {
    left: $size-border-padding-x--small;
    bottom: $size-border-padding-y--small;

    .social-networks__el {
      margin-right: 2rem;
    }
  }
}