@import '~stylesheets/common/variables';
@import '~stylesheets/common/mixins';

.project-visual {
  position: relative;
  width: 100%;
  height: 100%;

  &:before {
    display: block;
    content: "";
    width: 100%;
    padding-top: 100%;
  }
}

.project-visual__container {
  @include fullAbsolute;
}

.project-visual__list {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
  background: $color-black;
  overflow: hidden;
}

.project-visual__el {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: opacity 0.3s ease-out;

  &--is-active {
    opacity: 1;
    z-index: 2;
  }
}

.project-visual__el-content {
  position: relative;
  width: 100%;
  height: 100%;
}

.project-visual__el-img {
  width: 100%;
  height: 100%;
}
