@import '~stylesheets/common/variables';

.header__logo {
  position: absolute;
  top: $size-border-padding-y;
  left: $size-border-padding-x;
  font-size: 1.4rem;
  font-weight: 500;
  background: $color-black;
  color: $color-white;
  padding: 0.8rem 1rem;
  transition: color 0.3s ease-out;
  z-index: 1;
  &:hover {
    color: $color-red;
  }
}

.header__logo-subtitle {
  display: inline-block;
  text-align: center;
  font-size: 1.27rem;
  top: 8.5rem;
  position: absolute;
  left: $size-border-padding-x;
  z-index: 1;
}

.header__about {
  position: absolute;
  top: $size-border-padding-y + 0.3rem;
  right: $size-border-padding-x;
  font-size: 1.4rem;
  font-weight: 500;
  transition: color 0.3s ease-out, opacity 0.3s 1.1s ease-out;
  cursor: pointer;
  z-index: 5;

  &:after {
    position: absolute;
    top: 100%;
    left: 0;
    display: none;
    width: 10px;
    height: 1px;
    content: '';
    opacity: 0.5;
    background: $color-red;
  }

  .desktop-device &:hover {
    color: $color-red;
    &:after {
      display: block;
      animation: underline 2.6s linear infinite;
    }
  }

  .application--about-open & {
    opacity: 0;
  }
}


@media only screen and (max-width: 736px){

  .header__logo {
    top: $size-border-padding-y--small;
    left: $size-border-padding-x--small;
  }

  .header__logo-subtitle {
    top: 5.5rem;
    left: $size-border-padding-x--small;
  }

  .header__about {
    top: $size-border-padding-y--small + 0.3rem;
    right: $size-border-padding-x--small;
  }
}
