html {
  width: 100%;
  height: 100%;
  font-family: arial, sans-serif;
  font-size: 62.5%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  width: 100%;
  height: 100%;
}

* {
  outline: none;
  box-sizing: border-box;
}

button {
  border: 0;
  background: transparent;
}

a {
  text-decoration: none;
}

canvas {
  vertical-align: middle;
}