@font-face {
  font-family: 'EdmondSans';
  src: url('/fonts/Edmondsans-Bold.eot'); /* IE9 Compat Modes */
  src: url('/fonts/Edmondsans-Bold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/fonts/Edmondsans-Bold.woff') format('woff'), /* Modern Browsers */
       url('/fonts/Edmondsans-Bold.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('/fonts/Edmondsans-Bold.svg#f665bbf4c06ef0fa26f7aefb226afbb1') format('svg'); /* Legacy iOS */

  font-style:   normal;
  font-weight:  700;
}

@font-face {
  font-family: 'EdmondSans';
  src: url('/fonts/Edmondsans-Medium.eot'); /* IE9 Compat Modes */
  src: url('/fonts/Edmondsans-Medium.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/fonts/Edmondsans-Medium.woff') format('woff'), /* Modern Browsers */
       url('/fonts/Edmondsans-Medium.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('/fonts/Edmondsans-Medium.svg#dffdf410eda6d0e903115099b5e24d7c') format('svg'); /* Legacy iOS */

  font-style:   normal;
  font-weight:  500;
}

@font-face {
  font-family: 'EdmondSans';
  src: url('/fonts/Edmondsans-Regular.eot'); /* IE9 Compat Modes */
  src: url('/fonts/Edmondsans-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/fonts/Edmondsans-Regular.woff') format('woff'), /* Modern Browsers */
       url('/fonts/Edmondsans-Regular.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('/fonts/Edmondsans-Regular.svg#7bbba12411bdd1eb69cf9e8a612ada82') format('svg'); /* Legacy iOS */

  font-style:   normal;
  font-weight:  400;
}


/**
 * Icomoon
 */

 @font-face {
     font-family: 'icomoon';
     src:    url('/fonts/icomoon.eot?jvh30c');
     src:    url('/fonts/icomoon.eot?jvh30c#iefix') format('embedded-opentype'),
         url('/fonts/icomoon.ttf?jvh30c') format('truetype'),
         url('/fonts/icomoon.woff?jvh30c') format('woff'),
         url('/fonts/icomoon.svg?jvh30c#icomoon') format('svg');
     font-weight: normal;
     font-style: normal;
 }

 [class^="icon-"], [class*=" icon-"] {
     /* use !important to prevent issues with browser extensions that change fonts */
     font-family: 'icomoon' !important;
     speak: none;
     font-style: normal;
     font-weight: normal;
     font-variant: normal;
     text-transform: none;
     line-height: 1;

     /* Better Font Rendering =========== */
     -webkit-font-smoothing: antialiased;
     -moz-osx-font-smoothing: grayscale;
 }

 .icon-chevron-thin-left:before {
     content: "\e900";
 }
 .icon-chevron-thin-right:before {
     content: "\e901";
 }
 .icon-heart-outlined:before {
     content: "\e902";
 }
 .icon-heart:before {
     content: "\e903";
 }
 .icon-menu:before {
     content: "\e904";
 }
 .icon-paper-plane:before {
     content: "\e905";
 }
 .icon-github:before {
     content: "\e906";
 }
 .icon-linkedin:before {
     content: "\e907";
 }
 .icon-twitter:before {
     content: "\e908";
 }


