@mixin sharpTranslate {
  -webkit-filter: blur(0);
  filter:blur(radius);
  -webkit-font-smoothing: subpixel-antialiased;
  -webkit-perspective: 1000;
}

@mixin fullAbsolute {
  position: absolute;
  z-index: 0;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

@mixin centerX {
  position: absolute;
  left: 50%;
  transform: translate3d(-50%,0%,0);
}

@mixin centerY {
  position: absolute;
  top: 50%;
  transform: translate3d(0%,-50%,0);
}

@mixin centerXY {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%,-50%,0);
}

@mixin clearfix {
  &:after {
    display: table;
    clear: both;
    width: 100%;
    height: 1px;
    content: '';
  }
}

@mixin aspect-ratio($width, $height) {
  position: relative;
  &:before {
    display: block;
    width: 100%;
    padding-top: ($height / $width) * 100%;
    content: '';
  }
  > .aspect-ratio {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }
}

@function ease($key) {
  @if map-has-key($ease, $key) {
    @return map-get($ease, $key);
  }

  @warn "Unkown '#{$key}' in $ease.";
  @return null;
}
